.App {
  display: flex;
  flex-direction: column; /* Esto apila los elementos uno debajo del otro */
  min-height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.sections li a {
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  border-radius: 20px;
}

.sections li a:visited {
  color: inherit; 
}

.sections li a:hover {
  color: rgb(159, 80, 93);
  transform: scale(-2px);
  box-shadow: 0 4px 15px currentColor;
  
}

.logo {
  width: 90px;
  height: auto;
}

.cart {
  width: 45px;
  height: auto;
  padding-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cart:hover {
  transform: scale(1.2);
}

.cartNotification {
  font-size: small;
  position: absolute;
  display: inline-block;
  top: 6px;
  right: 12px;
  background-color: pink;
  padding: 3px;
  border-radius: 35px;
  
}

.itemListContainer {
  padding: 40px;
  text-align: center;
  background-color: #f4f4f4;
  min-height: 200px;
  margin: 20px;
  border-radius: 10px;
  border: 1px dashed #ccc;
}
